/* _ means partial, include */


// Colors
$grey: #333333;
$light-grey: #fafafa; // tres light
$light-grey-border: #eeeeee; // bit less light, 'chaknow
$light-color: #aaa; // bunch darker. readable

// Navigation colors
$nav-background: $grey;
$nav-text-color: white;

// Clock
$clock-text-color: white;
$clock-bg-color: #B5D0E2; // light blue
$clock-border-color: #2099E8; // bit less light blue...
