// 2rem top-bottom  0 left-right (but you already knew that) (hmmph)
// Alphabetize those properties, crazy people! ;o)
.page-title {
  margin: 0;
  padding: 2rem 0;
  text-align: center;
  color: red; // for now :)
}
